:root {
  --brighter: #d1d7db;
  --darker: #032831;
  --dark: #3B4E55;
  --green: #27F498;
}
body {
  background-color: var(--darker);
  margin: 0;
  padding: 0;
  color: var(--brighter);
  font-family: 'Segoe UI', "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}
img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

li {
  margin-right: 1.5rem;
  font-weight: bold;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover {
  color: #ddd;
}

p {
  display: flex;
  justify-content: center;
}
h2 {
  margin: 0 0 20px;
  text-align: center;
  background-color: var(--green);
  font-size: x-large;
  color: #000;
}

/* Navbar */

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: solid 1px var(--brighter);
  padding: 20px 150px;
}
a.nav-link {
  margin: 0px 20px;
}

@media only screen and (max-width: 768px) {
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--darker);
  }

  .nav-links.open {
    display: flex;
    width: -webkit-fill-available;
    padding: 20px;
  }
}

/* Home-section */
div.container {
  margin-right: 15px;
  margin-left: 15px;
}

div.container.mx-auto{
  display: flex;
  flex-direction: column;
}
.img-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.image-container {
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.form-container {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--dark);
  align-items: stretch;
  border: 2px solid transparent;
  border-color: var(--green);
}
form {
  display: flex;
  flex-direction: column;
}
h2.heading2 {
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.form-in {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.name-container {
  display: block;
}
label {
  margin-bottom: 8px;
}
input, button {
  margin-bottom: 16px;
  padding: 8px;
  border: 2px solid transparent;
  border-color: var(--green);
  background-color: transparent;
  color: white;
}
button {
  background-color: var(--green);
  color: white;
  cursor: pointer;
}
.images-row {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  overflow: visible;
  height: auto;

  flex-wrap: wrap;
}
.images-row img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  border: 2px solid transparent;
  border-color: var(--green);
}
.book-now-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.book-now-button {
  padding: 10px;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  div.container {
  margin-right: 5rem;
  margin-left: 5rem;
}
  .img-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .image-container {
    width: 50%;
    height: 500px;
  }

  .form-container {
    width: 50%;
  }

  .name-container {
    display: flex;
    justify-content: space-around;
    width: auto;
  }

  .images-row img {
    width: 23%;
    height: 100%;
  }
  .images-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    height: 150px;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

/* Hotel Details */
.container-main {
  padding: 50px 10%;
  background-color: var(--dark);
  margin-top: 30px;
}

.container-di {
  display: flex;
  flex-wrap: wrap;
}

.Details {
  flex: 1; 
  max-width: 600px; 
  margin-right: 20px; 
}

ul.hdetail {
  list-style: disc;
  display: block;
}

.image1 {
  flex: 1;
  max-width: 600px;
  height: 100%
}

.Panel-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Panel1 {
  flex: 1;
  background-color: var(--darker);
  height: 240px;
  max-width: 300px;
  border: 2px solid transparent;
  border-color: var(--green);
}

.panel {
  background-color: var(--dark);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 20px auto;
}

img.pimg1 {
  height: 100%;
  object-fit: scale-down;
}

p.Discp {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .container-main {
    padding: 50px 10%;
  }
  .container-di {
    display: block;
  }

  .Panel1 {
    flex: 1 0 100%;
    max-width: none;
    margin: 10px;
  }

  .Details,
  .image1 {
    max-width: 100%;
  }
}

/* Host section */

.host-title{
  display: flex;
  justify-content: center;
}

.host{
  background-color: var(--dark);
  margin: 50px 200px;
  border-radius: 10px;
}
.host-ip {
  display: flex;
}
.panel-img {
  padding: 40px 70px;
}
img.smallimg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.panel-host {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.panel2 {
  background-color: var(--darker);
  flex: 1;
  height: 150px;
  width: auto;
  margin: 40px 10px;
  border-radius: 5px;
}
.phost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fontlarge{
  font-size: xx-large;
  margin: 5% 2%;
}
p.disch{
  color: var(--green);
}
ul.ul-host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 50px;
}
li.li-host{
  margin: 5px;
  list-style: circle;
 
}
.host-discpn {
  margin: 20px 70px;
}
@media (max-width: 768px) {
  .host {
    margin: 50px 5%;
  }

  .host-ip {
    flex-direction: column;
    align-items: center;
  }

  .panel-host {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .panel2 {
    background-color: var(--darker);
    flex: 1;
    height: 150px;
    width: -webkit-fill-available;
    margin: 10px;
    border-radius: 5px;
  }
}

/* About section */
.about-section {
  background-color: var(--dark);
  padding: 50px 100px;
}

.about-main {
  background-color: var(--dark);
  padding: 20px; /* Adjust padding for better spacing */
}

.about-title {
  display: flex;
  justify-content: center;
}
.about-disp{
  display: flex;
  justify-content: center;
}
.about-limg {
  display: flex;
  margin: 20px 10px;
}
.list-bt {
  display: flex;
  flex-direction: column; 
  margin-bottom: 20px; 
  width: 70%;
}
.list-ab {
  display: flex;
}
.about-now-container {
  margin-left: 70px;
}
.image1 {
  flex: 1;
  max-width: 600px;
  height: 100%;
}
.review-title {
  display: flex;
  justify-content: center;
}
.Revcod {
  display: flex;
  justify-content: space-between;
}
figure.box {
  border: 2px solid var(--green);
  border-radius: 10px;
}
.box figcaption {
  padding: 13% 10% 12%;
  text-align: center; 
  position: relative; 
}
.circle-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; /* Center the circle horizontally */
  border: 2px solid var(--green);
  top: -30px;
  position: absolute;
}
.box figcaption p {
  margin-top: 10px; 
}
.colanimg1{
  transform: rotate(180deg);
  padding: 20px 50px;
    margin-right: 170px;
}
.colanimg{
  padding: 20px 50px;
  margin-left: 170px;
}
@media (max-width: 768px) {
  .about-section {
    background-color: var(--dark);
    padding: 20px;
  }
  .about-main {
    background-color: var(--dark);
    padding: 0px;
  }
  .Revcod {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .list-ab {
    flex-direction: column;
  }
  ul.ul-host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 0;
}
  figure.box {
    border: 2px solid var(--green);
    border-radius: 10px;
    margin: 2px;
    }

  .colanimg1,
  .colanimg {
    margin: 0px 150px;
    height: 30px;
    }
}
@media (max-width: 1200px) {
  .about-limg {
    flex-direction: column; 
  }
  .image1 {
    flex: 1;
    max-width: 100%;
    height: 100%;
  }
  .list-ab {
    display: flex;
    justify-content: space-between;
  }
  .colanimg1{
    transform: rotate(180deg);
    padding: 20px 50px;
      margin-right: 60px;
  }
  .colanimg{
    padding: 20px 50px;
    margin-left: 60px;
  }
}

/* Things section */

h1.thing-title {
  padding: 50px 140px;
}
.list-main {
  display: flex;
  margin-left: 90px;
  margin-right: 300px;
  justify-content: space-around;
  padding-bottom: 70px;
}
ul.ul-thing {
  display: flow;
}
p.km {
  display: flex;
  justify-content: flex-start;
  color: var(--green);
}
@media (max-width: 768px) {
  h1.thing-title { 
    padding: 20px;
    justify-content: center;
    display: flex;
  }
  .list-main {
    display: flex;
    margin: 0;
    padding-bottom: 10px;
    flex-direction: column;
}

  ul.ul-thing {
    margin: 10px; 
  }
}
@media (max-width: 1200px) {
  h1.thing-title { 
    padding: 20px;
    justify-content: center;
    display: flex;
  }
  .list-main {
    display: flex;
    margin: 0;
    justify-content: space-around;
    padding-bottom: 70px;
}
}

/* Feature section */
.f-main{
  padding: 50px 170px;
  background-color: var(--dark);
}
.f-head{
  font-size: 11px;
}
ul.f-ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid;
  margin: 0px;
}
.list-feature {
  display: block;
}
li.f-li {
  font-size: medium;
  font-weight: 500;
}
.f-lists {
  display: flex;
  justify-content: space-between;
}
.feat-hd {
  margin-top : 60px;;
}
h4.f-h4 {
  margin: 0px;
}
p.f-p {
  margin: 5px 0px;
  display: block;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .f-main {
    padding: 50px 10%;
  }
}

@media (max-width: 768px) {
  .f-main {
    padding: 50px 5%;
  }
  .f-lists {
    flex-direction: column;
  }
  .list-feature {
    display: flex;
    justify-content: space-between;
  }
  ul.f-ul{
    overflow: hidden;
  }
}

/* Contact section */
.c-main {
  padding: 50px 170px;
  display: flex;
  justify-content: space-around;
}
.c-contd {
  display: flex;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-logo {
  margin: 80px 0px;
}
h1.c-head {
  font-size: large;
  font-weight: 400;
}
a.c-a {
  margin: 0px 2px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-section {
  margin: 0px 30px;
}
@media (max-width: 768px) {
  .c-main {
    padding: 20px;
    flex-direction: column;
  }
  .c-logo {
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .c-contd {
    flex-direction: column;
  }
  p.c-p {
    display: flex;
    justify-content: flex-start;
}
}

.Footer-list {
  border-top: 1px solid;
}
ul.footer-ul {
  margin-right: 150px;
  font-size: smaller;
}
@media (max-width: 768px) {
  .Footer-list {
    border-top: 1px solid;
  }
  ul.footer-ul {
    margin-right: 20px;
    font-size: smaller;
  }
}